.box1 {
    background-color: rgb(127, 127, 201);
    width: 100px;
    height: 100px;
    animation-name: rotat;
    animation-duration: 10s;
}

@keyframes rotat {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}