@keyframes box3 {
  from {
    background: linear-gradient(skyblue, white);
    border-radius: 50%;

    transform: rotatey(180deg) rotate(45deg);
    
    
    
    }
    to {background: linear-gradient(skyblue, white);
    border-radius: 0%;
    rotate: 0deg;
}

  }
  to {
    rotate: 0deg;
    background: linear-gradient(skyblue, white);
    border-radius: 0%;
  }
}

/* The element to apply the animation to */
.box3 {
  width: 100px;
  height: 100px;

  animation-name: box3;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.box3 {
  z-index: 4;
}
