.box {
    width: 100px;
    height: 100px;
}

.box--linn {
    background-color: rgb(127, 127, 201);
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    animation-timing-function: ease-in-out;
    position: relative;
}

.box--jenny {
    margin: 25px;
    background-color: pink;
    animation: zoom-in-zoom-out 1s ease infinite;
}

.box--hallvard {
    animation-name: box3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 100px;
    height: 100px;
}



@keyframes move {
    from {
        transform: rotate(0);
        left: 0px;
    }

    to {
        transform: rotate(360deg);
        left: 500px;
    }
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1);
    }
  }

@keyframes box3 {
    from {
      background: linear-gradient(skyblue, white);
      border-radius: 50%;
  
      transform: rotatey(180deg) rotate(45deg);
      
      }
      to {background: linear-gradient(skyblue, white);
      border-radius: 0%;
      rotate: 0deg;
  
  
    }
    to {
      rotate: 0deg;
      background: linear-gradient(skyblue, white);
      border-radius: 0%;
    }
}






@media (prefers-reduced-motion) {
    .linn {
      animation-name: move;
    }
    .box2 {
        animation-name: zoom-in-zoom-out;
    }
    .hallvard{
        animation-name: box3;
    }
  }

  @media (prefers-color-scheme: light) {
    .linn {
        background-color: purple;
    }
    .box2 {
        background-color: crimson;
    }
    .hallvard {
        background-color: blue;
    }
}

@media (prefers-color-scheme: dark) {
    .linn {
        background-color: rgb(127, 127, 201);
    }
    .box2 {
        background-color: pink;
    }
    .hallvard{
        background-color: skyblue;
    }
}

body {
    display: flex;
}
body > div {
    margin-left: 100px;
    margin-right: 100px;
}

@media (orientation: landscape) {
    body {
      flex-direction: row;
    }
  }
  
  @media (orientation: portrait) {
    body {
      flex-direction: column;
    }
  }
