.box1 {
  background-color: #7f7fc9;
  width: 100px;
  height: 100px;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  position: relative;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    left: 0px;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    left: 500px;
  }
}

@keyframes move {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    left: 0px;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    left: 500px;
  }
}

.box2 {
  margin: 25px;
  background-color: pink;
  width: 100px;
  height: 100px;
  -webkit-animation: zoom-in-zoom-out 1s ease infinite;
          animation: zoom-in-zoom-out 1s ease infinite;
}

@-webkit-keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes box3 {
  from {
    background: -webkit-gradient(linear, left top, left bottom, from(skyblue), to(white));
    background: linear-gradient(skyblue, white);
    border-radius: 50%;
    -webkit-transform: rotatey(180deg) rotate(45deg);
            transform: rotatey(180deg) rotate(45deg);
  }
  to {
    background: -webkit-gradient(linear, left top, left bottom, from(skyblue), to(white));
    background: linear-gradient(skyblue, white);
    border-radius: 0%;
    rotate: 0deg;
  }
  to {
    rotate: 0deg;
    background: -webkit-gradient(linear, left top, left bottom, from(skyblue), to(white));
    background: linear-gradient(skyblue, white);
    border-radius: 0%;
  }
}

@keyframes box3 {
  from {
    background: -webkit-gradient(linear, left top, left bottom, from(skyblue), to(white));
    background: linear-gradient(skyblue, white);
    border-radius: 50%;
    -webkit-transform: rotatey(180deg) rotate(45deg);
            transform: rotatey(180deg) rotate(45deg);
  }
  to {
    background: -webkit-gradient(linear, left top, left bottom, from(skyblue), to(white));
    background: linear-gradient(skyblue, white);
    border-radius: 0%;
    rotate: 0deg;
  }
  to {
    rotate: 0deg;
    background: -webkit-gradient(linear, left top, left bottom, from(skyblue), to(white));
    background: linear-gradient(skyblue, white);
    border-radius: 0%;
  }
}

/* The element to apply the animation to */
.box3 {
  width: 100px;
  height: 100px;
  -webkit-animation-name: box3;
          animation-name: box3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.box3 {
  z-index: 4;
}

.box {
  width: 100px;
  height: 100px;
}

.box--linn {
  background-color: #7f7fc9;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  position: relative;
}

@keyframes move {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    left: 0px;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    left: 500px;
  }
}

@media (prefers-reduced-motion) {
  .box1 {
    -webkit-animation-name: move;
            animation-name: move;
  }
  .box2 {
    -webkit-animation-name: zoom-in-zoom-out;
            animation-name: zoom-in-zoom-out;
  }
  .box3 {
    -webkit-animation-name: box3;
            animation-name: box3;
  }
}

@media (prefers-color-scheme: light) {
  .box1 {
    background-color: purple;
  }
  .box2 {
    background-color: crimson;
  }
  .box3 {
    background-color: blue;
  }
}

@media (prefers-color-scheme: dark) {
  .box1 {
    background-color: #7f7fc9;
  }
  .box2 {
    background-color: pink;
  }
  .box3 {
    background-color: skyblue;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > div {
  margin-left: 100px;
  margin-right: 100px;
}

@media (orientation: landscape) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */