$linn: purple;

$jenny: crimson;

$colors: (
  linn--light: lighten($linn, 15%),
  linn--dark: darken($linn, 5%),
  jenny--dark: darken($jenny, 5%),
  jenny--light: lighten($jenny, 15%),
);

$sky: #4ca9fe;
$h: #d6ebf6;

$sky-background: (
  sky--light: lighten($sky, 0%),
  sky--dark: darken($sky, 50%),
  h--himmel: lighten($h, 0%),
);
