// .box--linn {
    
//     animation-name: move;
//     animation-duration: 4s;
//     animation-iteration-count: infinite;
//     animation-direction: alternate; 
//     animation-timing-function: ease-in-out;
//     position: relative;
// }

// .box--jenny {
    
    
//     animation: zoom-in-zoom-out 1s ease infinite;
// }

// .box--hallvard {
    
//     animation-name: box3;
//     animation-duration: 1s;
//     animation-iteration-count: infinite;
//     animation-direction: alternate;
    
// }

// @keyframes move {
//     from {
//         transform: rotate(0);
//         left: 0px;
//     }

//     to {
//         transform: rotate(360deg);
//         left: 500px;
//     }
// }

// @keyframes zoom-in-zoom-out {
//     0% {
//       transform: scale(1);
//     }
//     50% {
//       transform: scale(1.2, 1.2);
//     }
//     100% {
//       transform: scale(1);
//     }
//   }

// @keyframes box3 {
//     from {
//       background: linear-gradient(skyblue, white);
//       border-radius: 50%;
  
//       transform: rotatey(180deg) rotate(45deg);
      
//       }
//       to {background: linear-gradient(skyblue, white);
//       border-radius: 0%;
//       rotate: 0deg;
  
  
//     }
//     to {
//       rotate: 0deg;
//       background: linear-gradient(skyblue, white);
//       border-radius: 0%;
//     }
// }






// @media (prefers-reduced-motion) {
//     .box--linn {
//       animation-name: move;
//       animation: none;
//     }
//     .box--jenny {
//         animation-name: zoom-in-zoom-out;
//         animation: none;
//     }
//     .box--hallvard{
//         animation-name: box3;
//         animation: none;
//     }
// }

// @media (prefers-color-scheme: light) {
//     .box--linn {
//         background-color: map-get($map: $colors, $key: linn--dark )
//     }
//     .box--jenny {
//         background-color: map-get($map: $colors, $key: jenny--dark );
//     }
//     .box--hallvard {
//         background-color: skyblue;
//     }
// }

// @media (prefers-color-scheme: dark) {
//     .box--linn {
//         background-color: map-get($map: $colors, $key: linn--light);
//     }
//     .box--jenny {
//         background-color: map-get($map: $colors, $key: jenny--light);
//     }
//     .box--hallvard{
//         background-color: skyblue;
//     }
// }

.svg {
    padding-top: 24rem;
    width: 180vw;
    display: block;
    z-index: 2;
    
  }





.object--fish {
  position: absolute;
  left: 35vw;
  top: 900px;
  
  
  
  

  
  
  
  
  transform: rotate(90deg);
  
  
  padding: 5%;
  

}

.movedown {
  animation: movedown 50s;
  animation-timing-function: linear;
}



#wave1 {
  animation: ud 7s infinite alternate;
}

#wave2 {
  animation: ud 5s infinite alternate;
}

#wave3 {
  animation: ud 3s infinite alternate;

}

@keyframes ud {
  from {
    transform: translateX(-35%);
  }
  to {
    transform: translateX(0%);
  }
}

.turn {

  transform: rotateZ(40deg);
  
}
 

 
@keyframes change {
  0%, 100% {margin-top: 0px;}
  10%, 30%, 50%, 70%, 90% {margin-top: 10px;}
  20%, 40%, 60%, 80% {margin-top: 0px;}
  }

  @keyframes fadeIn {
    0% {opacity: 0.7; margin-top: 0px;}
    
    100% { margin-top: 10px; opacity: 1;}
    
    }

    @keyframes movedown {
      0% {top: 900; left: 35vw; transform: rotate(80deg); background-color: blue; }
      5% { left: 37vw; transform: rotate(100deg); background-color: yellow;}
      
      10% { left: 32vw; transform: rotate(80deg); background-color: green}
      15% { left: 37vw; transform: rotate(100deg); background-color: red}
      20% { left: 32vw; transform: rotate(95deg); background-color: blue}
      25% { left: 28vw; transform: rotate(90deg); background-color: yellow;}
      30% { left: 24vw; transform: rotate(0deg); background-color: green}
      35% { left: 20vw; transform: rotate(0deg); background-color: red}
      40% { left: 32vw; transform: rotate(80deg); background-color: blue}
      45% { left: 37vw; transform: rotate(100deg); background-color: yellow;}
      50% { left: 35vw; transform: rotate(80deg); background-color: green}
      60% { left: 32vw; transform: rotate(100deg); background-color: red}
      70% { left: 37vw; transform: rotate(110deg); background-color: blue}
      80% { left: 32vw; transform: rotate(80deg); background-color: yellow;}
      90% { left: 37vw; transform: rotate(100deg); opacity: 1; background-color: green}
      100% {top: 6500px; left: 37vw; transform: rotate(90deg);
      opacity: 0; background-color: red}
     
      
      
      }

     

.bag, .straw2, .straw4, .soda3, .straw7, .bottle3, .straw, .soda2,
.straw9{
  animation: trash 10s infinite alternate;
}

.soda, .bottle, .straw3, .straw6, .bag1, .straw8, .straw5,.straw2, .bottle2{
  animation: change 10s infinite alternate;
}

@keyframes trash{
  0%, 100% {transform: translateY(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateY(10px);}
  20%, 40%, 60%, 80% {transform: translateY(-10px);}
}

 .bubbles {
   animation: bubbleup 5s infinite;
   animation-timing-function: ease-in-out;
 }
  
 @keyframes bubbleup {
  0% {opacity: 0;}
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0; 
    transform: translateY(-60px);
    
  }
 
}

.danger {
  animation: fade 0.8s infinite alternate;
}

.fadein {
  animation: fade 5s ;
}

@keyframes moveright {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(100%);
  }
  90% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade {
  0% {opacity: 0;}
  
  100% {
    opacity: 1; 
    ;
    
  }
 
}

@keyframes moveleft {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}


