// .box--linn {
    
//     animation-name: move;
//     animation-duration: 4s;
//     animation-iteration-count: infinite;
//     animation-direction: alternate; 
//     animation-timing-function: ease-in-out;
//     position: relative;
// }

// .box--jenny {
    
    
//     animation: zoom-in-zoom-out 1s ease infinite;
// }

// .box--hallvard {
    
//     animation-name: box3;
//     animation-duration: 1s;
//     animation-iteration-count: infinite;
//     animation-direction: alternate;
    
// }

// @keyframes move {
//     from {
//         transform: rotate(0);
//         left: 0px;
//     }

//     to {
//         transform: rotate(360deg);
//         left: 500px;
//     }
// }

// @keyframes zoom-in-zoom-out {
//     0% {
//       transform: scale(1);
//     }
//     50% {
//       transform: scale(1.2, 1.2);
//     }
//     100% {
//       transform: scale(1);
//     }
//   }

// @keyframes box3 {
//     from {
//       background: linear-gradient(skyblue, white);
//       border-radius: 50%;
  
//       transform: rotatey(180deg) rotate(45deg);
      
//       }
//       to {background: linear-gradient(skyblue, white);
//       border-radius: 0%;
//       rotate: 0deg;
  
  
//     }
//     to {
//       rotate: 0deg;
//       background: linear-gradient(skyblue, white);
//       border-radius: 0%;
//     }
// }






// @media (prefers-reduced-motion) {
//     .box--linn {
//       animation-name: move;
//       animation: none;
//     }
//     .box--jenny {
//         animation-name: zoom-in-zoom-out;
//         animation: none;
//     }
//     .box--hallvard{
//         animation-name: box3;
//         animation: none;
//     }
// }

// @media (prefers-color-scheme: light) {
//     .box--linn {
//         background-color: map-get($map: $colors, $key: linn--dark )
//     }
//     .box--jenny {
//         background-color: map-get($map: $colors, $key: jenny--dark );
//     }
//     .box--hallvard {
//         background-color: skyblue;
//     }
// }

// @media (prefers-color-scheme: dark) {
//     .box--linn {
//         background-color: map-get($map: $colors, $key: linn--light);
//     }
//     .box--jenny {
//         background-color: map-get($map: $colors, $key: jenny--light);
//     }
//     .box--hallvard{
//         background-color: skyblue;
//     }
// }

svg {
    padding-top: 6rem;
    width: 100vw;
    display: block;
  }

 