* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  /* using CSS variables makes the website
  easy to edit and modify when we need to. */
  --font-family: "M PLUS 1", sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family);
  overflow-x: hidden;
  z-index: 0;
  color: #00274b;
}

#goal14Logo {
  margin: 25px;
  width: 150px;
  height: 150px;
}

.rock {
  position: absolute;
  top: 5850px;
  z-index: 1;
}

.flower {
  position: absolute;

  z-index: 2;
  padding: 5%;
}

.flower--1 {
  top: 5800px;
  left: 850px;
}
.flower--2 {
  top: 5875px;
  left: 700px;
}

.flower--3 {
  top: 5850px;
  left: 550px;
}
.flower--4 {
  top: 5900px;
  left: 400px;
}

.flower--5 {
  top: 5850px;
  left: 250px;
}

body > div {
  margin-left: 100px;
  margin-right: 100px;
}

svg {
  z-index: 2;
}
section {
  z-index: 2;
}
.ocean1 {
  background-color: red;
  width: 100vw;
  height: 6000px;
  padding: 0;
  margin: 0;
  z-index: 2;
  position: absolute;
}
.intro {
  width: 30%;
  top: -20%;
  margin-top: 40px;

  padding-top: 15rem;

  text-align: center;

  z-index: 1;

  margin: 0 auto;
  position: fixed;
  align-items: center;
  left: 35%;
}

.intro > h2 {
  padding-top: 2rem;
}

.soda,
.bag,
.straw,
.bottle,
.straw2,
.bottle2,
.straw3,
.straw4,
.soda2,
.straw5,
.straw6,
.soda3,
.straw7,
.bottle3,
.bag1,
.straw8,
.straw9,
.fishGreen,
.fishHotpink,
.fishLightblue,
.sustain,
.sustain2 {
  position: absolute;
}

.soda,
.bag {
  padding: 5%;
  z-index: 2;
}

.straw,
.bottle,
.bottle2,
.soda2,
.straw5,
.straw6,
.soda3,
.straw7,
.bottle3,
.bag1,
.straw8,
.straw9 {
  z-index: 2;
}

.soda {
  left: 75%;
  top: -1%;
}

.bag {
  left: 70%;
}

.straw {
  padding: 1.5%;
  left: 70%;
}

.bottle {
  padding: 3%;
  left: 65%;
  top: 2%;
}

.straw2 {
  padding: 2%;
  left: 75%;
  z-index: 3;
  top: 3%;
}

.bottle2 {
  padding: 4%;
  left: 80%;
  top: 4%;
}

.straw3 {
  padding: 2%;
  left: 75%;
  z-index: 3;
  top: 5%;
}

.straw4 {
  padding: 2%;
  left: 85%;
  z-index: 3;
  top: 2%;
}

.soda2 {
  padding: 3%;
  left: 73%;
  top: 7%;
}

.straw5 {
  padding: 2%;
  left: 85%;
  top: 7%;
}

.straw6 {
  padding: 2%;
}

.soda3 {
  padding: 4%;
  top: 1%;
}

.straw7 {
  padding: 3%;
  top: 2%;
  left: -2%;
}

.bottle3 {
  padding: 4%;
  top: 2.6%;
  left: 3%;
}

.bag1 {
  padding: 7%;
  top: 4.5%;
  left: -4%;
}

.straw8 {
  padding: 3%;
  top: 7%;
  left: -2%;
}

.straw9 {
  padding: 1.5%;
  top: 4%;
  left: 12%;
}

// Alive fishes

.fishBlue {
  padding: 1.5%;
  top: 17%;
  left: 100%;
  position: absolute;
}
.fishPink {
  padding: 1.5%;
  top: 14%;
  left: 90%;
  position: absolute;
}
.fishRed {
  padding: 1.5%;
  top: 11%;
  left: 95%;
  position: absolute;
}

// Die fishes
.dieFishYellow {
  padding: 1.5%;
  top: 21%;
  left: 95%;
  position: absolute;
}

.dieFishPurple {
  padding: 1.5%;
  top: 24%;
  left: 90%;
  position: absolute;
}

.dieFishDarkBlue {
  padding: 1.5%;
  top: 27%;
  left: 100%;
  position: absolute;
}

// O2
.o2 {
  padding: 1.5%;
  top: 20%;
  left: 100%;
  position: absolute;
}

// New fish comes in
.fishGreen {
  padding: 1.5%;
  top: 31%;

  left: -35%;

  left: -40%

}

.fishHotpink {
  padding: 1.5%;
  top: 37%;
  left: -45%;
}
.fishLightblue {
  padding: 1.5%;
  top: 34%;
  left: -50%;
}

// Fish net
.fishNet {
  position: absolute;
  width: 650px;
  height: 650px;
  top: 1800px;
  z-index: 3;
  left: -60%;
  filter: invert(100%);

}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

.fish {
  position: absolute;
  left: 100%;
}

.moveleft {
  animation: moveleft 6s;
}

.moveleft2 {
  animation: moveleft 6s;
  animation-delay: 0.5s;
}


.moveright {
  animation: moveright 6s;
}

.moveright2 {
  animation: moveright2 6s;
}

hr {
  margin-bottom: 600px;
  background-color: white;
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

.danger {
  position: absolute;
  top: 5700px;
  left: 440px;
  width: 200px;
  height: 200px;
}

.skull {
  position: absolute;
  top: 5700px;
  left: 700px;
  width: 200px;
  height: 200px;
  opacity: 0;
}

.bubbles {
  position: absolute;

  height: 100px;

  width: 100px;
  filter: invert(100%);
}

.bubbles--1 {
  left: 600px;
  top: 5650px;
}

.bubbles--2 {
  left: 100px;
  top: 5400px;
}

.bubbles--3 {
  left: 250px;
  top: 5150px;
}

.bubbles--4 {
  left: 700px;
  top: 5050px;
}

.bubbles--5 {
  left: 800px;
  top: 5350px;
}

.bubbles--6 {
  left: 600px;
  top: 4900px;
}

.bubbles--7 {
  left: 800px;
  top: 4800px;
}

.sustain{
  text-align: center;
  width: 30%;
  top: 43%;
  left: 70%;
}

.sustain2{
  text-align: center;
  width: 30%;
  top: 63%;
}