* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  /* using CSS variables makes the website
  easy to edit and modify when we need to. */
  --font-family: "M PLUS 1", sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family);
  overflow-x: hidden;
  z-index: 0;
  
}

h1 {
  font-size: 50px;
}
body > div {
  margin-left: 100px;
  margin-right: 100px;
}

svg{
  z-index: 2;
}
section{
  z-index: 2;
}
.ocean1 {
  background-color: red;
  width: 100vw;
  height: 6000px; 
  padding: 0;
  margin: 0; 
  z-index: 2;
}
.intro {
  width: 30%;
  top: -20%;
  margin-top: 40px;
  
  padding-top: 15rem;
  
  text-align: center;
  
  z-index: 1;
  
  margin: 0 auto;
  position: fixed;
  align-items: center;
  left: 35%;
  
  
}


.intro > h2 {
  padding-top: 2rem;
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}
