
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


body {
    display: flex;
}
body > div {
    margin-left: 100px;
    margin-right: 100px;
}

@media (orientation: landscape) {
    body {
      flex-direction: row;
    }
  }
  
  @media (orientation: portrait) {
    body {
      flex-direction: column;
    }
  }
