/* If we had not used prefers light and dark mode we would have made the colors like this */

/* .ocean1 {
    background: linear-gradient(map-get($map: $sky-background, $key: sky--light ),map-get($map: $sky-background, $key: sky--dark ) );
} */

/* body{
background-color: map-get($map: $wave-colors , $key: blue-vl--regular) ;
}  */

/* #wave1{
    fill: map-get($map: $wave-colors , $key: blue-l--regular);
}

#wave2{
    fill: map-get($map: $wave-colors , $key: blue-m--regular);
}

#wave3{
    fill: map-get($map: $wave-colors , $key: blue-d--regular);
} */